$black_1000: #000000;
$black_900: #131313;
$black_600: #525d5f;
$white_1000: #ffffff;
$green_600: #16c272;
$green_400: #16c216;
$red_600: #c25b16;
$blue_600: #108baa;
$purple_800: #7647c2;
$purple_600: #89179e;