@mixin hueRotation() {
    animation: color-change 4s linear infinite;
}

@mixin blurryHueRotation() {
    animation: blurry-color-change 4s linear infinite;
}

@mixin oscillation() {
    animation: oscillate 3s ease-in-out infinite;
}

@mixin moveTo($direction) {
    @if $direction == left {
        animation: moveToLeft 60s linear infinite;
    } @else if $direction == right {
        animation: moveToRight 60s linear infinite;
    }
}

@keyframes color-change {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

@keyframes blurry-color-change {
    0% {
        filter: hue-rotate(0deg) blur(50px);
    }
    100% {
        filter: hue-rotate(360deg) blur(50px);
    }
}

@keyframes oscillate {
    0% {
        transform: translateZ(-100px);
    }
    50% {
        transform: translateZ(100px);
    }
    100% {
        transform: translateZ(-100px);
    }
}


@keyframes moveToLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%)
    }
}

@keyframes moveToRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%)
    }
}